
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;


}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4cc9f0;
}

.box{
    width: 700px;
    min-height: 600px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

#item{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 0;
    display: block;
    font-weight: 500;
    outline: 0;
    box-shadow: 0px 0px 2px gray;
}

#to-do-box{
    margin-top: 20px;
    list-style: none;
}
#to-do-box li{
    position: relative;
    background-color: #003049 ;
    color: white;
    padding: 10px;
    border-radius: 2px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;
    cursor: pointer;
}
#to-do-box li i{
    position: absolute;
    right: 10px;
    top: 10px;
}

.done{
    text-decoration: line-through;
    color: black;
    background-color: #a7c957 !important;
}

